@media only screen and (max-width: 768px) {
	.d {
		display: none;
	}

	#burger-button img {
		width: 37px;
	}

	#burger-button {
		border: none;
		background: none;
	}
}

@media only screen and (min-width: 768px) {
	.m {
	  display: none;
	}

	.nav-item {
	  padding-right: 10px;
	  text-decoration: none;
	}
}

body {
  margin: 0;
  padding: 0;
	background: url('./artwork/roast_chicken.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position-y: 60px;
}

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
	width: 100vw;
	box-shadow: 0 1px 8px rgb(3, 3, 3);
}

#nav-logo {
  padding-left: 8vw;
	height: 54px;
	width: 60px;
	margin-bottom: 2px;
}

#nav-button-group {
  padding-right: 8vw;
  display: flex;
}

.font-roboto {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	color: black;
}

#heading1 {
	color: white;
	text-align: right;
	font-size: 55px;
	margin-right: 30px;
	line-height: 49px;
	background-color: rgb(65, 65, 65);
	opacity: 70%;
	margin-bottom: 10px;
}

#yes-button {
	float: right;
	color: white;
	text-align: center;
	margin-right: 10px;
	margin-top: 0;
	background-color: rgb(150, 148, 148);
	width:60px;
	opacity: 60%;
}

#no-button {
	float: right;
	color: white;
	text-align: center;
	margin-right: 30px;
	margin-top: 0;
	background-color: rgb(150, 148, 148);
	width: 60px;
	opacity: 60%;
}